.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin: 22px 0;
  color: var(--tc1);
  background-color: var(--header-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.header--img img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.header--info h1 {
  font-size: 1.75rem;
  font-weight: 700;
  /* Fallback: Set a background color. */
}

.header--info span:hover {
  background-image: linear-gradient(var(--header-gradient));
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header--info h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
