.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin: 22px 0;
  border: black solid 1px;
  border-radius: var(--border-radius);
}

.header--img img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.header--info h1 {
  font-size: 1.45rem;
  font-weight: 700;
}

.header--info h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
