@font-face {
  font-family: 'realist';
  src: url('https://use.typekit.net/af/9b5385/00000000000000003b9b3c82/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/9b5385/00000000000000003b9b3c82/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/9b5385/00000000000000003b9b3c82/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
}

.photography--card h2 {
  margin: 1rem 0 0.75rem 0;
  font-family: 'realist';
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.photography--card a {
  text-decoration: none;
  color: inherit;
}
