:root {
  --border-radius: 12px;
  --font-family: 'Whitney';
  --tc2: #ffffff;
  --white: #ffffff;
  --twitter: #1da1f2;

  --shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
/* Font Import */

/* Font weights:
** 100, 400, 600, 700
*/
@font-face {
  font-family: 'Whitney';
  src: url('../src/fonts/Whitney-Light.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Whitney';
  src: url('../src/fonts/Whitney-Medium.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Whitney';
  src: url('../src/fonts/Whitney-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Whitney';
  src: url('../src/fonts/Whitney-Bold.otf') format('opentype');
  font-weight: 700;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
